
.navbar-nav {
    margin-left: auto;
}
.heading{  
    text-align: center;
    font-family: 'Montserrat', sans-serif;    
    font-size: 100px;
    color: #dddddd;
    padding-top: 15px;
}
#intro{
    padding-top:297px;
    width:50%;
    padding-left: 9rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    color:	#dddddd;
}
#about{
    color:	#dddddd;
    text-align: center;
    font-size: 30px;
    padding-top: 170px;;    
}
#a.containerr{ 
    width:100%;
    height: 768px;
    background-color: #303234;
}
#green{
    background-color: #2AA29C;
    height:640px;
}
#green_2{
    height: 20px;
    background-color: #2AA29C;
}
.containerr_b{
    width:97.5%;  
    height: 600px;
    background-color: #00003e;
    margin: auto;
}
.containerr_c{
    width:100%;  
    height: 714px;
    background-color: #100c08;
}

#span_3{
    color: #FC7753;
}
ul.social-icons{
    list-style: none;
    padding-left: 9rem;    
}
#edu{
    color: #dddddd;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:599px;
    width:100%;
}
#block{    
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}
.social-icons li{
    display: inline-block;
    margin-right:18px; 
}
#icons{
    margin-right:18px;
}
.social-icons a:hover{
    color:#dddddd;
}
span{
    color:#fca311;
}
#span_2{
    color: #2AA29C;
}
img{
    height: 100px;
    width: 100px;
    margin-right: 20px;    
}